body{
background: #f9f9f9;
  height: 100%;
  margin-right: 0px;
}
dv{
border: solid 1px red;
}


  /* navbar*/
  nav {
position: absolute;
box-shadow: none;
  }
.logo img{
  height: 7vmin;
  width: 21vmin;
  margin: 28px 0vmin 0vmin 10vmin;
}
.logo2 img{
  height: 0vmin;
  width: 0vmin;
}
  nav .button-collapse {
  float: right;
  position: relative;
  z-index: 9999;
  height: 56px;
  margin: 0 4vmin;
}


  /* /navbar*/


/* modulo 1*/
.img1-home{
  background-image: url("../imagens/img1-home.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  padding: 0px;
}
.parallax-container{
	 height:100%;
}
.row .col {
    float: left;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0rem;
    min-height: 1px;
}
.mod1.col.s12.m9{
padding: 0px;
}
.mod1.col.s12.m3{
padding: 0px;
}
.mod1-2-home{
 background: #2FCAD2;
 width: 100%;
 height: 100%;
}
.mod1-2-home.container{
	position: absolute;
}

.input-field label {
    color: #f5f5f5;
  }
  .mod1-2-home .link a{
  	color: white;
  	font-size: 17px;
  }
  .link{
  	padding-top: 30px;
  	padding-bottom: 30px;
  }

.row .text-mod1{
position: absolute;
color: white;
top: 280px;
font-size: 3.3vmax;
left: 8vmax;
}
.ancora{
position: absolute;
bottom: -4vw;
width: 20vmax;
height: 10vmax;
left: 35vw;
}
.ancora img{
width: 8vmax;
height: 8vmax;

}
/* FIM modulo 1*/

/* modulo 2*/
.img-mod2{	
	 height: 100%;

}
.mod2-parallax{
    padding: 0px;
}
.row .text-mod2{
position: absolute;
top: 190px;
font-size: 2.4vmax;
left: 5vmax;

}
.row .text-mod2 .p2{
font-size: 1.4vmax;
}

.row .txt-mod2-mobie{
top: 0px;
font-size: 0vmax;
left: 0vmax;
margin-bottom: 0px;
}
.img-footer-mobie img{
  width: 0vmax;
 height: 0vmax;
 margin-top: 0vmax;
}
.row-mod2 .row{
  margin-bottom: 0px;
}


/* FIM modulo 2*/


/* footer*/
footer{
padding-bottom: 20px;
background: black;
margin-top: 0px;

}
.page-footer {
    padding-top: 20px;
    color: #fff;
    background-color: #4F4F4F;
    margin-bottom: -20px;
    margin-top: -33px;  
}
.img-footer img{
width: 10vmax;
 height: 3.4vmax;
 margin-top: 2vmax;
}

/* /footer*/


@media screen and (max-width: 1024px){

.row .col.m9 {width: 100%;}
.row .col.m3 {width: 100%;}
.link {
    padding-top: 14vmax;
    padding-bottom: 1vmax;
}
.mod1-2-home .link a {
    font-size: 3vmax;
}
.mod1-cadastro .row {
    margin-bottom: 4vmax;
}
.mod1-cadastro label{
	font-size: 2vmax;
	margin-bottom: 1vmax;
}

.logo img{
  height: 0vmin;
  width: 0vmin;
  margin: 28px 0vmin 0vmin 10vmin;
}
.logo2 img{
  height: 15vmin;
  width: 15vmin;
  margin: 7px 0vmin 0vmin 10vmin;
}
.ancora{
left: 28vw;
}

.txt-mod2-mobie{
top: 190px;
font-size: 2vmax;
margin :2vmax 0vmax 4vmax 4vmax ;
height:54%;
}
.img-footer-mobie img{
  width: 14vmax;
 height: 7vmax;
 margin-top: 3vmax;
}
.row .txt-mod2-mobie{
font-size: 4vmax;


}
.row .txt-mod2-mobie .p2{
font-size: 2vmax;
}


.row .text-mod2{
position: absolute;
top: 0px;
font-size: 0vmax;
left: 0vmax;

}
.row .text-mod2 .p2{
font-size: 0vmax;
}
.img-footer img{
width: 0vmax;
 height: 0vmax;
 margin-top: 0vmax;
}
.mod2-parallax .parallax-container {
   height:50%;
}
}

